$menu-text-color:#ffffff;
// $menu-background-color:#001529;
$menu-background-color:#2aa6ff;
// $menu-background-hover:#00284d;
$menu-background-hover:#46b7f4;
// $menu-active-text:#1890ff;
$menu-active-text: #214cb0;