$menu-text-color:#ffffff;
// $menu-background-color:#001529;
$menu-background-color:#0887e0;
// $menu-background-hover:#00284d;
$menu-background-hover:#0887e0;
// $menu-active-text:#1890ff;
$menu-active-text: #032395;